@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.containerHeader {
    text-align: center;
    width: 90%;
    margin: 1.2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headerList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerList li {
    display: inline-block;
    margin: 0 1rem 0 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.headerList li:hover{
    color: #EF233C;
}

.profile {
    display: block;
    cursor: pointer;
}
.profile:hover{
    color: #EF233C;
    text-decoration: underline;
}
.profile img:hover {
    opacity: 0.8;
}

.profile h4 {
    float: left;
    margin-top: 1rem;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #EF233C;
}

.active {
    color: #EF233C;
}

.container {
    background-color: aqua;
    width: 80%;
    height: 50rem;
    margin: 0 auto;
}

.profileImage p {
    display: none;
}