@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.containerHeader {
    text-align: center;
    width: 90%;
    margin: 1.2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headerList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerList li {
    display: inline-block;
    margin: 0 1rem 0 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.headerList li:hover{
    color: #EF233C;
}

.profile {
    display: block;
    cursor: pointer;
}
.profile:hover{
    color: #EF233C;
    text-decoration: underline;
}
.profile img:hover {
    opacity: 0.8;
}

.profile h4 {
    float: left;
    margin-top: 1rem;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #EF233C;
}

.active {
    color: #EF233C;
}

.sliderContainer {
    width: 95%;
    margin: auto;
    background-color: #ECEFF0;
}

.containerInfo {
    display: inline-block;
    margin: 2rem 1.5rem;
    width: 18rem;
    height: 8rem;
    background: #ECEFF0;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.07), 0px 4px 3px rgba(0, 0, 0, 0.0503198), 0px 2px 1px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 10px;
    position: relative;
}

.containerInfo img {
    width: 5rem;
    height: 5rem;
    margin: 1.5rem 0 0 1rem;
}

.containerInfo h3 {
    font-size: 1.2rem;
    margin: 1rem 3rem 0 0;
    font-weight: 700;
}

.containerInfo small {
    color: #A0A0A0;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0.9rem;
    right: 1rem;
}

.containerInfo h2 {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    margin: 0 2.5rem 0 0;
}

.info,
.infoCell, .infoCellProfit, .infoCellStorage {
    float: right;
    text-align: right;
}
.sign{
    height: 2rem;
    width: 2rem;
    margin: 7.5% 0 0 1rem;
}
.mainBody{
    width: 90%;
    margin: 0 auto 4rem auto;
}
.containerManage {
    margin-left: 3.5rem;
    height: 33rem;
    width: 22.5rem;
    display: inline-block;
    background: #8D99AE;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 28px;
    position: relative;
}
.manageSlides{
    height: 30.5rem;
    white-space: nowrap;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.manageSlides::-webkit-scrollbar{
    display: none;
}

.containerManage .titleContainer {
    background-color: #ECEFF0;
    text-align: center;
    height: 2.5rem;
    font-size: 18px;
    position: relative;
    border-radius: 28px 28px 0 0;
}

.titleContainer h5 {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.containerManage #arrowDown {
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    opacity: 0.8;
    cursor: pointer;
}
.containerManage #arrowDown:hover {
    opacity: 1;
}

.containerCell {
    display: block;
    width: 20rem;
    height: 5rem;
    margin: 0.8rem 1rem 0 1rem;
    background: rgba(255, 255, 255, 0.4);
    border: 3px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07), 0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198), 0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275), 0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 28px;
    position: relative;
}

.containerCell #graph {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0 0 1rem;
}

.containerCell #infoIMG {
    margin: 0.3rem 1rem 0 0;
}

.infoCell h4 {
    color: #14C03A;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.infoCell img {
    cursor: pointer;
}
.infoCell img:hover {
    opacity: 0.8;
}
.infoCellStorage img {
    cursor: pointer;
}
.infoCellStorage img:hover {
    opacity: 0.8;
}
.infoCellProfit h4 {
    color: black;
    font-size: 20px;
    margin: 0.5rem 5.7rem 0.1rem 0;
}
.infoCellProfit h5 {
    margin: 0.2rem 1rem 0 0;
    font-size: 1rem;
}
.infoCellProfit small {
    color: #A0A0A0;
    line-height: 20px;
    display: inline-block;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.infoCellStorage h4 {
    font-size: 26px;
    position: absolute;
    top: 52%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.infoCellStorage small{
    color: #A0A0A0;
    font-size: 0.7rem;
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.database {
    height: 2.3rem;
    width: 2.3rem;
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translate(-50%, -50%);
}

#food {
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 0.8rem;
}

.infoCell small {
    color: #A0A0A0;
    font-size: 0.7rem;
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#main-slider-container {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

#slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#slider::-webkit-scrollbar{
    display: none;
}

#main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
}

svg.slider-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.left {
    position: absolute;
    left: 3rem;
}

.right {
    position: absolute;
    right: 3rem;
}

.slider-icon.left:hover,
.slider-icon.right:hover {
    opacity: 1;
}
